[user]
    name = Zhan Rongrui
    email = 2742392377@qq.com
[init]
    defaultBranch = main
[pull]
    rebase = true
[core]
    editor = helix
    excludesfile = ~/.gitignore_global
[safe]
    directory = *
