[user]
    name = zrr1999
    email = 2742392377@qq.com
[init]
    defaultBranch = main
[pull]
    rebase = true
[core]
    editor = helix
    filemode = false
[safe]
    directory = *
[credential]
    helper = store
[commit]
    gpgsign = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
